aiofiles==23.1.0 ; python_version >= "3.9" and python_version < "4.0"
aiogram-deta @ git+https://github.com/mamsdeveloper/deta.git@main ; python_version >= "3.9" and python_version < "4.0"
aiogram==3.0.0b7 ; python_version >= "3.9" and python_version < "4.0"
aiohttp==3.8.4 ; python_version >= "3.9" and python_version < "4.0"
aiosignal==1.3.1 ; python_version >= "3.9" and python_version < "4.0"
anyio==3.6.2 ; python_version >= "3.9" and python_version < "4.0"
async-timeout==4.0.2 ; python_version >= "3.9" and python_version < "4.0"
attrs==22.2.0 ; python_version >= "3.9" and python_version < "4.0"
certifi==2022.12.7 ; python_version >= "3.9" and python_version < "4.0"
charset-normalizer==3.1.0 ; python_version >= "3.9" and python_version < "4.0"
deta[async]==1.1.0a2 ; python_version >= "3.9" and python_version < "4.0"
fastapi==0.95.1 ; python_version >= "3.9" and python_version < "4.0"
frozenlist==1.3.3 ; python_version >= "3.9" and python_version < "4.0"
idna==3.4 ; python_version >= "3.9" and python_version < "4.0"
magic-filter==1.0.9 ; python_version >= "3.9" and python_version < "4.0"
multidict==6.0.4 ; python_version >= "3.9" and python_version < "4.0"
odetam==1.5.0 ; python_version >= "3.9" and python_version < "4.0"
pydantic==1.10.7 ; python_version >= "3.9" and python_version < "4.0"
sniffio==1.3.0 ; python_version >= "3.9" and python_version < "4.0"
starlette==0.26.1 ; python_version >= "3.9" and python_version < "4.0"
typing-extensions==4.5.0 ; python_version >= "3.9" and python_version < "4.0"
ujson==4.3.0 ; python_version >= "3.9" and python_version < "4.0"
yarl==1.8.2 ; python_version >= "3.9" and python_version < "4.0"
Deta
getenv
create_bot
create_dispatcher
create_app
telebot
